footer{
    background:#211e26;
    color:white;
}

footer h2{
    color:white;
}

.contactSection{
    padding-top:50px;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}

// form div{
//     border:1px solid white;
// }

input, textarea {
    border-radius: 0px;
    line-height: 25px;
    background: transparent;
    padding: 0px 0px 20px 0px;
    border: 10px;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-bottom: 1px solid #4d4b51;
    font-weight: 500;
    box-shadow: none;
    color: #7e8288;
    width: 500px;
    font-size:2.5rem;
    text-align: center;
    margin:10px;
}

.copyright{
    padding:10px;
    font-size:1.5rem;
    text-align: center;
}

.copyright p{
    margin-top:100px;
}

.contactForm{
    display:flex;
}

.contactForm ul{
    display:flex;

}
.contactForm i{
    margin:20px;
    font-size:3.6rem;
}

.socials{
    margin-left:10px;
}

.socials p{
    font-size:2.6rem;
    width:70%;
}