

.headerSection{
    padding-top:50px;
}

.headerNavLogo{
    display:flex;
    justify-content: space-between;
    // position:fixed;
}

.headerNav ul{
    display:flex;
}
.headerNav a {
    margin:10px;
    color:white;
    font-size:calc(0.5rem + 1vw);
    border-bottom: 5px solid white;
    border-spacing: 5px;
}


header{
    background-image:url(/assets/backgroundHeader.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height:100vh;
    background-color:#d9a7a7;
}



.headerDescription{
    margin-top:150px;
}

.headerDescription h3{
    position:relative;
    top:200px;
}



.headerContainerTwo{
    display:flex;
}



.headerContainerTwo img{
    margin-left:100px;
    height:750px;
    width:90%;
    box-shadow:20px 20px 0px #4d4b51;
    
}

.headerDescription p{
    font-size:2.3rem;
    color:white;
    position:relative;
    top:-200px;
}

.nameTag{
    text-decoration: bold;
    font-weight:700;
    font-size:calc(14rem + 1vw);
    margin-right:10px;
    text-transform: uppercase;
    color:#d9a7a7;
    // animation: typewriter 10s linear;
    text-shadow: -5px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

}


@keyframes typewriter{
    0%{
        background:#d9a7a7;
    }

    100%{
        background:black;
    }
}

@media(max-width:500px){

    .headerNavLogo{
        flex-direction: column;
    }

    // .headerNavLogo ul{
    //     flex-direction: column;
    // }
    header h1{
        font-size:3.4rem;
    }


}

@media(max-width:360px){
    .nameTag{
        font-size:12rem
    }

    .headerDescription p{
        top:-150px;
    }

    .headerDescription h3{
        font-size:3.3rem;
        top:150px;
    }


}

