html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: PenguinModern,'ITC Avant Garde Gothic Pro',"Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

h1 {
  font-weight: 700;
  color: white;
  font-size: 4.2rem;
}

h2 {
  font-size: calc(9rem + 3vw);
  font-family: PenguinModern,'ITC Avant Garde Gothic Pro',"Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 3.5rem;
  font-family: PenguinModern,'ITC Avant Garde Gothic Pro',"Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-style: normal;
  color: white;
  font-weight: 500;
}

.aboutMeSection {
  padding-top: 50px;
}

.aboutMeSection .wrapper {
  border-right: 5px solid black;
}

.aboutMeSection h2 {
  text-align: right;
  position: relative;
  top: 20px;
  margin-right: 20px;
}

.aboutMeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.aboutMeContainer img {
  -webkit-box-shadow: -5px -5px 0 #000, 5px -1px 0 #000, -5px 5px 0 #000, 5px 5px 0 #000;
          box-shadow: -5px -5px 0 #000, 5px -1px 0 #000, -5px 5px 0 #000, 5px 5px 0 #000;
}

.aboutMeDescription {
  margin-left: 20px;
}

.aboutMeContainer p {
  color: #211e26;
  margin: 0 auto;
  font-size: calc(0.7rem + 1vw);
}

.skillsSection {
  background-color: #fbcec9;
  padding: 100px;
}

.skillsSection .wrapper {
  border: 5px solid white;
}

.skillsContainer {
  padding: 10px;
}

.skillList {
  margin-top: 100px;
}

.skillsSection h2 {
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-90deg) translate(70%, -50%);
          transform: rotate(-90deg) translate(70%, -50%);
  color: #fbcec9;
  text-shadow: -5px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.skillList ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 1em;
}

.skillIcon i {
  font-size: calc(7rem + 1vw);
  color: #211e26;
  margin: 0 auto;
  margin-bottom: 10px;
}

.skillIcon {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.skillIcon:hover {
  -webkit-filter: drop-shadow(2px 3px white) drop-shadow(5px 6px yellow);
          filter: drop-shadow(2px 3px white) drop-shadow(5px 6px yellow);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skillIcon img:hover {
  -webkit-filter: drop-shadow(2px 3px white) drop-shadow(5px 6px yellow);
          filter: drop-shadow(2px 3px white) drop-shadow(5px 6px yellow);
}

.skillIcon {
  text-align: center;
  width: calc(7rem + 1vw);
  color: black;
  -webkit-filter: drop-shadow(2px 3px white) drop-shadow(5px 6px #cc90ac);
          filter: drop-shadow(2px 3px white) drop-shadow(5px 6px #cc90ac);
  margin: 0 auto;
}

.skillIcon img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.projects {
  padding-bottom: 100px;
  padding-top: 100px;
}

.projects h2 {
  color: white;
  background: black;
  width: 80%;
  margin: 0 auto;
}

.projectCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectContainer {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectContainer img {
  width: 500px;
}

.projectDescriptionEven,
.projectDescriptionOdd {
  background: #7d7dc2;
  width: 500px;
}

.projectDescriptionEven {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.projectDescription:hover {
  opacity: .7;
}

@media (max-width: 1200px) {
  .skillsSection h2 {
    -webkit-transform: rotate(-90deg) translate(80%, -50%);
            transform: rotate(-90deg) translate(80%, -50%);
  }
}

@media (max-width: 900px) {
  .projectDescriptionEven,
  .projectDescriptionOdd,
  .projectContainer img {
    width: 350px;
  }
  .skillsSection h2 {
    -webkit-transform: rotate(-90deg) translate(80%, -50%);
            transform: rotate(-90deg) translate(80%, -50%);
  }
}

@media (max-width: 720px) {
  .projectDescriptionEven,
  .projectDescriptionOdd {
    opacity: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 315px;
    position: absolute;
  }
  .projectDescriptionEven:hover {
    opacity: 1;
  }
  .projectDescriptionOdd:hover {
    opacity: 1;
  }
  .projectContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skillsSection h2 {
    -webkit-transform: rotate(-90deg) translate(110%, -60%);
            transform: rotate(-90deg) translate(110%, -60%);
  }
  .skillList ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 7rem;
  }
  .skillsSection h2 {
    -webkit-transform: rotate(0) translate(1px, -40px);
            transform: rotate(0) translate(1px, -40px);
    border-bottom: 5px solid white;
    margin-left: 20px;
    padding-bottom: 10px;
  }
  .skillsSection .wrapper {
    border: none;
  }
  .skillList {
    margin-top: 10px;
  }
  .skillIcon i {
    font-size: 4.7rem;
  }
  .skillIcon img {
    width: 4.7rem;
  }
  .skillList ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-left: -40px;
  }
}

@media (max-width: 400px) {
  .skillList ul {
    margin-left: -50px;
  }
}

.headerSection {
  padding-top: 50px;
}

.headerNavLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerNav a {
  margin: 10px;
  color: white;
  font-size: calc(0.5rem + 1vw);
  border-bottom: 5px solid white;
  border-spacing: 5px;
}

header {
  background-image: url(/assets/backgroundHeader.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #d9a7a7;
}

.headerDescription {
  margin-top: 150px;
}

.headerDescription h3 {
  position: relative;
  top: 200px;
}

.headerContainerTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerContainerTwo img {
  margin-left: 100px;
  height: 750px;
  width: 90%;
  -webkit-box-shadow: 20px 20px 0px #4d4b51;
          box-shadow: 20px 20px 0px #4d4b51;
}

.headerDescription p {
  font-size: 2.3rem;
  color: white;
  position: relative;
  top: -200px;
}

.nameTag {
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-weight: 700;
  font-size: calc(14rem + 1vw);
  margin-right: 10px;
  text-transform: uppercase;
  color: #d9a7a7;
  text-shadow: -5px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

@-webkit-keyframes typewriter {
  0% {
    background: #d9a7a7;
  }
  100% {
    background: black;
  }
}

@keyframes typewriter {
  0% {
    background: #d9a7a7;
  }
  100% {
    background: black;
  }
}

@media (max-width: 500px) {
  .headerNavLogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header h1 {
    font-size: 3.4rem;
  }
}

@media (max-width: 360px) {
  .nameTag {
    font-size: 12rem;
  }
  .headerDescription p {
    top: -150px;
  }
  .headerDescription h3 {
    font-size: 3.3rem;
    top: 150px;
  }
}

footer {
  background: #211e26;
  color: white;
}

footer h2 {
  color: white;
}

.contactSection {
  padding-top: 50px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

input, textarea {
  border-radius: 0px;
  line-height: 25px;
  background: transparent;
  padding: 0px 0px 20px 0px;
  border: 10px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 1px solid #4d4b51;
  font-weight: 500;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #7e8288;
  width: 500px;
  font-size: 2.5rem;
  text-align: center;
  margin: 10px;
}

.copyright {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.copyright p {
  margin-top: 100px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm i {
  margin: 20px;
  font-size: calc(2.5rem + 1vw);
}

.socials {
  margin-left: 10px;
}

.socials p {
  font-size: calc(1.5rem + 1vw);
  width: 70%;
}

@media (max-width: 900px) {
  input, textarea {
    width: 300px;
  }
}

@media (max-width: 720px) {
  .contactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socials p {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */